@model Search
<li>
    <p> imageUrl: <a href="/search/@(Model.MapAPI/{search})">@Model.ResultLine.imageUrl</a> </p>
    <p> timeStamp: @Model.ResultLine.timeStamp </p>
    <p> searchTerm: @Model.ResultLine.searchTerm </p>
    <p> zoomLevel: @Model.ResultLine.zoomLevel </p>
    <p> Size: { </p>
        <p> width: @Model.ResultLine.width </p>
        <p> height: @Model.ResultLine.height </p>
            },
    <p> markers: [ </p>
    <p>    {       </p>
    <p>      color: @Model.ResultLine.color </p>
    <p>      label: @Model.ResultLine.label </p>
    <p> location: {     </p>
            <p> lat: @Model.ResultLine.lat </p>
            <p> lng: @Model.ResultLine.lng </p>
    <p>         }               </p>
    <p>     }                   </p>
    <p>   ]                     </p>
    <p>}                        </p>