@model MapAPI
<li>
    <p> imageUrl: <a href="/search/@(Model.MapAPI/{search})">@Model.imageUrl</a> </p>
    <p> timeStamp: @Model.timeStamp </p>
    <p> searchTerm: @Model.searchTerm </p>
    <p> zoomLevel: @Model.zoomLevel </p>
    <p> size: Size: { </p>
        <p> width: @Model.width </p>
        <p> height: @Model.height </p>
            },
    <p> markers: [ </p>
    <p>    {       </p>
    <p>      color: @Model.color </p>
    <p>      label: @Model.label </p>
    <p> location: {     </p>
            <p> lat: @Model.lat </p>
            <p> lng: @Model.lng </p>
    <p>         }               </p>
    <p>     }                   </p>
    <p>   ]                     </p>
    <p>}                        </p>

    
